services:
  - type: web
    name: belfast-roofing-website
    env: static
    staticPublishPath: .
    buildCommand: echo "No build needed for static site"
    routes:
      - type: rewrite
        source: /*
        destination: /index.html

